.ul {
  margin-top: 0.5em;
  list-style: inside;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .inputs {
    margin: 0.5rem 0;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .required::before {
    content: "*";
    margin-right: 4px;
    color: red;
  }

  textarea,
  input,
  select {
    width: 300px;
  }

  input {
    height: 1.7rem;
  }

  textarea {
    height: 7em;
  }

  .submit {
    cursor: pointer;
    background-color: var(--theme-dark-3);
    border-top: var(--theme-dark-4) solid 2px;
    border-left: var(--theme-dark-4) solid 2px;
    border-right: var(--theme-dark-2) solid 2px;
    border-bottom: var(--theme-dark-2) solid 2px;
  }

  .submit:hover {
    background-color: var(--theme-dark-1);
    border-top: var(--theme-dark-2) solid 2px;
    border-left: var(--theme-dark-2) solid 2px;
    border-right: var(--theme-dark-3) solid 2px;
    border-bottom: var(--theme-dark-3) solid 2px;
  }

  .messageLetterCountOuter {
    float: right;
    font-size: 0.8em;
    padding-top: 0.8em;
  }
}
