.justifyLeft {
  p {
    text-align: left !important;
    margin: 4px 0;
  }

  .preformed {
    padding: 6px;
    border-radius: 6px;
    border: var(--theme-4) solid 2px;
    background-color: var(--theme-2);

    pre {
      margin: 4px 0;
      white-space: pre-wrap;
    }
  }
}
