.footer {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  // min-height: var(--footer-height);
  border-top: var(--theme-4) solid 2px;
  background-color: var(--theme-2);
  transition: background-color var(--footer-transition),
    border-color var(--footer-transition);

  .footerContents {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .footerTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .footerTopLeft {
        margin-right: calc(
          var(--dark-mode-button-right) * 2 + var(--dark-mode-button-size)
        );
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .SNSIconNav {
          .SNSIconList {
            display: flex;
            justify-content: flex-end;

            li {
              margin-left: 0.5rem;
              cursor: pointer;
              user-select: none;

              svg {
                padding: 4px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                transition: fill var(--footer-transition), background-color var(--footer-transition);
                fill: var(--theme-reverse-2);
              }

              svg:hover {
                fill: var(--theme-2);
                background-color: var(--theme-reverse-2);
              }
            }

            li.SNSTwitter {
              .SNSTwitterIcon {
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linejoin: round;
                stroke-miterlimit: 2;

                rect {
                  fill: none;
                }

                path {
                  // fill: #1da1f2;
                  fill-rule: nonzero;
                }
              }
            }
          }
        }
      }
    }

    .footerBottom {
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .copyright {
        font-family: "Courier New", Courier, monospace;
      }
    }
  }
}
