.header {
  z-index: 150;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--theme-4) solid 2px;
  border-top: var(--theme-4) solid 2px;
  // background-color: rgba(0, 0, 0, 0);
  background-color: var(--theme-2);
  transition: background-color var(--header-transition),
    border-color var(--header-transition);

  .headerContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sidebarToggleButton {
    position: relative;
    background-color: var(--theme-4);
    cursor: pointer;
    width: 50px;
    height: var(--header-height);
    transition: background-color var(--header-transition);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebarToggleButtonArea {
      position: absolute;
      margin: auto;
      transition: all 0.6s; /*アニメーションの設定*/
      width: 50px;
      height: 50px;
    }
    span {
      opacity: 1;
      display: inline-block;
      transition: all 0.3s;
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      width: 45%;
      // background-color: #191962;
      background-color: var(--theme-reverse-1);
    }

    span:nth-of-type(1) {
      top: 15px;
    }

    span:nth-of-type(2) {
      top: 23px;
    }

    span:nth-of-type(3) {
      top: 31px;
    }

    /*activeクラスが付与されると .sidebarToggleButtonAreaが360度回転し、その中の線が回転して×に*/
  }

  .sidebarToggleButton.active {
    .sidebarToggleButtonArea {
      transform: rotate(-360deg);
    }

    span:nth-of-type(1) {
      top: 18px;
      left: 12px;
      transform: translateY(6px) rotate(-45deg);
      width: 50%;
    }

    span:nth-of-type(2) {
      opacity: 0;
    }

    span:nth-of-type(3) {
      top: 30px;
      left: 12px;
      transform: translateY(-6px) rotate(45deg);
      width: 50%;
    }
  }

  .headerTitle {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    color: var(--theme-reverse-1);
    transition: color var(--header-transition);
  }

  .headerTitle:hover {
    border: var(--theme-4) solid 2px;
  }

  .userIcon {
    height: 38px;
    width: 38px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    user-select: none;
    opacity: 0.5;
    // flex-direction: column;

    .userIconImg {
      width: var(--user-icon-size);
      height: var(--user-icon-size);
      stroke: var(--theme-reverse-1);
      transition: stroke var(--header-transition);
    }

    span {
      margin-left: 5px;
    }
  }

  .userIcon:hover {
    border: var(--theme-reverse-1) solid 1px;
  }
}
