.container {
  padding: 0 5rem;
}

.main {
  min-height: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

.nobr {
  white-space: nowrap;
}
