.container {
  min-height: 100vh;
  // margin-top: calc(var(--dark-mode-button-size) * -1);

  .mainContainer {
    z-index: 99;
    position: relative;
    padding-top: var(--header-height);
    padding-left: var(--main-container-padding);
    padding-right: var(--main-container-padding);
    flex: 1;

    .main {
      min-height: 100%;
      padding: 2rem 0;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
}

.nobr {
  white-space: nowrap;
}
