.sidebar {
  z-index: 125;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background: #fff;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: margin-left 0.5s ease-in-out,
    background-color var(--body-transition) ease,
    box-shadow var(--body-transition) ease;
  margin-left: calc(var(--sidebar-width) * -1 - 20px);
  box-shadow: var(--theme-shadow);
  background-color: var(--theme-2);
  padding: 24px;

  .sidebarContents {
    hr {
      margin: 22px 0;
    }

    .sidebarLogo {
      text-align: center;

      a {
        font-size: 1.5rem;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        color: var(--theme-reverse-1);
      }

      a:hover {
        color: var(--link-hover);
      }
    }
  }

  .sidebarContents > .staticPages {
    margin: 4px;

    li {
      width: 100%;
      display: flex;
      border-radius: 5px;
      margin: 2px 0;
      // border: var(--gray-330) solid 2px;
      // background-color: var(--theme-1);
      text-align: center;
      transition: background-color var(--body-transition);

      a {
        padding: 8px 0;
        display: inline-block;
        width: 100%;
      }
    }

    li:hover {
      background-color: var(--theme-3);
    }

    li.selected {
      // --link: #87c384;
      background-color: var(--theme-4);

      a {
        color: var(--link-hover);
      }
    }
  }
}

.sidebar.open {
  margin-left: 0;
}
